* {
    padding: 0;
    margin: 0;
    box-sizing: none;
    text-decoration:  none;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: rgb(27, 24, 24);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:right;
}

header h1 {
    color: #f70094;
    font-size: 4.5rem;
    align-items:center;
    padding-top: 45px;
    padding-left: 85px;

}

header span {
    color:#f7c7fc; 
}

header .navegacao-primaria{
    display: flex;
    gap: 75px;
    width: 100%;
    box-shadow: #8a8287 2px 2px 5px 5px;
    padding-top: 15px;
    padding-left: 65%;
    font-size: 1.3rem;

}

head .navegacao-primaria li a {
    padding: 10px;
    color:#f9f5fc;
    font-size: 4.5rem;
}

/* dowload CV SECAO */

.section-div {
    animation: inicializar .3s forwards;
    background-color:rgb(27, 24, 24);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items:center;
    gap: 80px;
    padding: 80px;
    padding-left: 45px;
    padding-top: 100px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap:30px;
}

.section-div div h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:#f7f7f7;
}

.section-div div p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    color:#f7f7f7;
}

.section-div div a {
    justify-self: start;
    color: #3f88e8;
    padding: 25px 25px;
    border-radius: 5px;
    border: 6px solid rgb(163, 156, 156);
    box-shadow: #8a8287 2px 2px 5px 5px;
    padding-left: 15%;
    justify-content: center;
    align-items:center;
    padding-top: 35px;
    padding-left: 35px;
    top: 55%;
    left: 55%;
    transform: translate(75%, 75%);

}
.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity:1;
    animation: pisca .5s infinite;

}

.imagem-redonda {
    width: 400px; 
    height: 400px; 
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgb(109, 108, 108) 2px 2px 10px 10px;
}

.imagem-redonda img {
     width: 100%; /* Certifique-se de que a imagem ocupa todo o espaço dentro do círculo */
    height: auto;

    
}


.d-block w-100{
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(50%, 50%);
}

@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;

    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}
#s-projects {
    padding: 96px 48px;
    text-align: center;
    background-color:  rgb(27, 24, 24)
}

@media screen and (max-width: 992px) {
    #s-projects {
        padding:48px 24px
    }
}

#s-projects .grid-layout h2 {
    padding-bottom: 24px;
    color: #a7cef8;
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgba(249, 166, 232, 0.975)
}

#s-projects .grid-layout h2 span {
    color: #986dff
}

#s-projects .grid-layout #projects {
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: left
}

#s-projects .grid-layout #projects .curriculo {
    border: 1px solid rgb(241, 6, 131);

}

#s-projects .grid-layout #projects .curriculo:hover {
    border: 1px solid rgb(241, 6, 131)
}

#s-projects .grid-layout #projects .cardapio {
    border: 1px solid #00a3ff
}

#s-projects .grid-layout #projects .cardapio:hover {
    border: 1px solid #00a3ff
}

#s-projects .grid-layout #projects .energias {
    border: 1px solid #a6fb98
}

#s-projects .grid-layout #projects .energias:hover {
    border: 1px solid #a6fb98
}

#s-projects .grid-layout #projects>article {
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #111;
    transition: 1s all ease;
    background-color:  rgb(27, 24, 24);
    height: auto
}

#s-projects .grid-layout #projects>article:hover {
    border: 1px solid #986dff
}

@media screen and (max-width: 1200px) {
    #s-projects .grid-layout #projects>article {
        flex-basis:calc(50% - 20px)
    }
}

@media screen and (max-width: 768px) {
    #s-projects .grid-layout #projects>article {
        flex-basis:calc(100% - 20px)
    }
}

#s-projects .grid-layout #projects>article h3 {
    color: #ddd0f1;
    font-size: 2.4rem;
    font-weight: 300;
    font-style: italic;
}

#s-projects .grid-layout #projects>article p {
    line-height: 24px;
    margin: 24px 0px;
    color: #9ca3af;
    line-height: 3.2rem;
    font-size: 1.8rem
}

#s-projects .grid-layout #curriculo {
    color:rgb(241, 6, 131)
}

#s-projects .grid-layout #curriculo::after {
    background: linear-gradient(270deg, rgb(241, 6, 131) 0%, #17161d 100%)
}

#s-projects .grid-layout #cardapio {
    color: #00a3ff
}

#s-projects .grid-layout #cardapio::after {
    background: linear-gradient(270deg, #00a3ff 0%, #17161d 100%)
}

#s-projects .grid-layout #energias {
    color: #a6fb98
}

#s-projects .grid-layout #energias::after {
    background: linear-gradient(270deg, #a6fb98 0%, #17161d 100%)
}

#s-projects .grid-layout a {
    color: #986dff;
    position: relative;
    font-size: 2rem;
    font-weight: 400
}

#s-projects .grid-layout a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #986dff 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

#s-projects .grid-layout a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}

#s-projects .grid-layout a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

#s-projects .grid-layout a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}

section#contacts {
    background-color: rgb(27, 24, 24);
    padding-top: 20px;
}

section#contacts .contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center
}

section#contacts .contacts .container h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.2rem;
    color: #e6e5e7;
    font-weight: 600;
    margin-bottom: 1rem
}

section#contacts .contacts .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 7.5rem;
    justify-content: center
}

section#contacts .contacts .icons .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s
}

section#contacts .contacts .icons .icon:hover {
    transform: scale(1.2)
}

section#contacts .contacts .icons .icon a {
    width: fit-content
}

section#contacts .contacts .icons .icon a:first-child {
    margin-bottom: 2rem
}

section#contacts .contacts .icons .icon a:nth-child(2) {
    margin-bottom: 1rem
}

section#contacts .contacts .icons .icon a:last-child p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #828282
}

section#contacts .contacts .icons .icon a p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #F9F9F9
}

section#contacts .contacts .icons .icon .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 78, 78);
    border-radius: 50%
}

section#contacts .contacts .icons .icon .box img {
    padding: 1.5rem
}


#f-contato {
    padding: 96px 48px;
    text-align: center;
    background-color:  rgb(27, 24, 24);
    font-family:Arial, Helvetica, sans-serif;
    
}

#f-contato .formulario h3 {
    padding-bottom: 24px;
    color: #a7cef8;
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgba(249, 166, 232, 0.975)
}


form {
    background-color: rgb(83, 78, 78);
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(200, 191, 191, 0.3);
    max-width: 25rem;
    width: 100%;
    color: rgb(171, 190, 241);
    font-weight: bold;
}

form label,
form input,
form textarea,
form input[type="submit"] {
    display:inline-flex;
    border-color: #0b57ee;
    margin-bottom: 12px;
    width: 100%;

}

form button[type="submit"] {
    background-color: #303133;
    color: rgb(76, 32, 235);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}


form button[type="submit"]:hover {
    background-color: rgb(72, 3, 47);
}

@media(max-width: 992px) {
    .section-div img {
    
    }

    .section-div {
        background-image: url(imagensportfolio/FotoKarlla.jpg);
        background-repeat: no-repeat;
        background-size:contain;
    }

}

footer {
        background-color: rgb(27, 24, 24);
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 15px 0 30px 0;
        margin-bottom: 0 !important;
        color: black; 
        font-style: italic;
        font-weight: 700;
        text-align:center;
        text-shadow: 2px 2px 10px whitesmoke;
        font-size: 1rem;
        box-shadow: #8a8287 2px 2px 5px 5px;

    }

@media all and (max-width: 768px){
.coluna, .coluna.colunatres {
    display: block;
    width: 50%;
    padding: 0;
    margin: 5px auto; 
    float: none;
}
}

header {
    position: relative;
    width: 100%;
    margin-left: 0px;
    text-align: center;
   
}

/* Responsivo */
/* mobile */
@media (max-width: 480px) {
    .section-div{display: block;}
    .imagem-redonda {
        width: 200px; 
        height: 200px; 
        border-radius: 50%;
        overflow: hidden;
        box-shadow: rgb(109, 108, 108) 2px 2px 10px 10px;
    }
    header .navegacao-primaria{
        display: block;
    }
}
/* Extra small devices */
@media |(min-widyh: 481px) nd (max-width: 767px) {

}

/* Small tablets */
@media (min-width:768px) and (max-width:991px) {

}

/* Large tablets/ laptops */
@media (min-width:992px) and (max-width:1199px) {

}
/* Desktops */
@media (min-width:1200px) and (max-width:1919px) {

}

/* Extra Large screens */
@media (min-width:1920px) {

}
